<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body>

<!-- header -->
<div th:replace="fragments/common :: header"></div>

<!-- content -->
<section class="section">

    <div class="container">

        <div th:replace="fragments/breadcrumb :: breadCrumbs(${breadcrumbs})"></div>

        <h1 class="title is-4 is-centered">HDP Česka</h1>

        <div class="columns">

            <!-- content column -->
            <div class="column is-10 is-12-mobile">

                <div th:replace="fragments/components :: horizontalBoxes(${overviewItems}, 'zaklad')">

                </div>

                <!-- real gdp 2010 prices -->
                <div th:replace="fragments/charts :: valueToMillionsSimpleChart(
                'real_gdp_container',
                'Reálný HDP v cenách roku 2010',
                'HDP',
                ${realGdp2010Prices})"></div>

                <!--  real gdp 2010 % changes -->
                <div th:replace="fragments/charts :: valueToPercentageSimpleChart(
                'real_gdp_container_changes',
                'Vývoj reálného HDP v cenách roku 2010',
                'Změna HDP',
                ${realGdpChanges})"></div>

                <br>

            </div>

            <!-- menu column -->
            <div class="column is-2 is-hidden-mobile">

                <aside class="menu is-sticky has-top-padding box">
                    <p class="menu-label"><a href="#">HDP Čr</a></p>
                    <p class="menu-label">Reálný HDP</p>
                    <ul class="menu-list">
                        <li><a href="#zaklad">Základní údaje</a></li>
                        <li><a href="#real_gdp_container">Absolutní hodnoty</a></li>
                        <li><a href="#real_gdp_container_changes">Čtvrtletní vývoj</a></li>
                    </ul>

                </aside>

            </div>

        </div>

    </div>

</section>

<!-- footer -->
<div th:replace="fragments/common :: footer"></div>

</body>
</html>