<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body >

<!-- header -->
<div th:replace="fragments/common :: header"></div>

<!-- content -->
<section class="section">

    <div class="container">

        <div th:replace="fragments/breadcrumb :: breadCrumbs(${breadcrumbs})"></div>

        <h1 class="title is-4 is-centered">Státní rozpočet Česka</h1>

        <div class="columns">

            <!-- content column -->
            <div class="column is-10 is-12-mobile">

                <h1 class="title is-5">Státní dluh</h1>

                <!-- public debt basic overview -->
                <div class="columns" id="zaklad_statni_dluh">

                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Aktuální státní dluh',
                        ${currentDebt.first},
                        |${currentDebt.second / 1000} mld Kč|)">
                        </div>

                    </div>


                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Nejnižší státní dluh',
                        ${lowestDebt.first},
                        |${lowestDebt.second / 1000} mld Kč| )">
                        </div>

                    </div>


                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Nejvyšší státní dluh',
                        ${highestDebt.first},
                        |${highestDebt.second / 1000} mld Kč| )">
                        </div>

                    </div>


                </div>

                <!-- public debt -->
                <div th:replace="fragments/charts :: valueToMillionsSimpleChart(
                'graf_statni_dluh',
                'Vývoj státního dluhu v běžných cenách',
                'Státní dluh',
                ${publicDebtGraph}
                )"></div>

                <h1 class="title is-5">Saldo rozpočtu</h1>

                <!-- budget balance basic overview -->
                <div class="columns" id="zaklad_saldo_rozpoctu">

                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Aktuální saldo rozpočtu',
                        ${currentBalance.first},
                        |${currentBalance.second / 1000} mld Kč|)">
                        </div>

                    </div>


                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Nejnižší saldo rozpočtu',
                        ${lowestBalance.first},
                        |${lowestBalance.second / 1000} mld Kč| )">
                        </div>

                    </div>


                    <div class="column">

                        <div th:replace="fragments/components :: simpleBox(
                        'Nejvyšší saldo rozpočtu',
                        ${highestBalance.first},
                        |${highestBalance.second / 1000} mld Kč| )">
                        </div>

                    </div>


                </div>

                <!-- budget balance -->
                <div th:replace="fragments/charts :: valueToMillionsSimpleChart(
                'graf_saldo_rozpoctu',
                'Saldo rozpočku v běžných cenách',
                'Saldo rozpočtu',
                ${budgetBalanceGraph}
                )"></div>


            </div>

            <!-- menu column -->
            <div class="column is-2 is-hidden-mobile">

                <aside class="menu is-sticky has-top-padding box">
                    <p class="menu-label"><a href="#">Státní rozpočet ČR</a></p>
                    <p class="menu-label">Státní dluh</p>
                    <ul class="menu-list">
                        <li><a href="#zaklad_statni_dluh">Základní údaje</a></li>
                        <li><a href="#graf_statni_dluh">Graf</a></li>
                    </ul>
                    <p class="menu-label">Saldo rozpočtu</p>
                    <ul class="menu-list">
                        <li><a href="#zaklad_saldo_rozpoctu">Základní údaje</a></li>
                        <li><a href="#graf_saldo_rozpoctu">Graf</a></li>
                    </ul>

                </aside>

            </div>

        </div>

    </div>

</section>


<!-- footer -->
<div th:replace="fragments/common :: footer"></div>

</body>
</html>